@CHARSET "UTF-8";

body {
	font-size: 2em;
}

table {
    border-collapse: collapse;
    display: inline;
}

th, td {
	border: 1px solid #777;
	text-align: center;
	width: 2em;
	height: 2em;
}

button {
	vertical-align: bottom;
}

.small {
	border-top: 1px dashed #AAA;
	font-size: 0.5em;
	display: none;
}

.selected {
	background-color: #BBB;
}

form input, form button {
	display: block;
	margin: 1em;
}

input, button {
	background-color: #FFFFFF;
    border: 1px solid #0000FF;
    border-radius: 5px;
    color: #00008B;
    padding: 0.5em 2em;
}

button {
	cursor: pointer;
}