<!DOCTYPE html>
<html data-ng-app="numberApp" data-ng-controller="numberController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Numbrikas</title>

<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

<table>
	<thead>
		<tr>
			<td colspan="9">Tabel</td>
		</tr>
	</thead>

	<tbody>
	
		<tr data-ng-repeat="row in table track by $index" data-ng-hide="rowBlank[$index]">
			<td data-ng-repeat="cell in row track by $index" data-ng-click="select(cell);" data-ng-class="{selected: cell.selected}">
				<div>{{ cell.val }}</div>
				<div class="small">{{ cell.row }}, {{ cell.col }}</div>
			</td>
		</tr>
	
	</tbody>

</table>

<button data-ng-click="expand()">Laienda</button>


<div class="small" data-ng-repeat="msg in msgs track by $index" data-ng-bind="msg"></div>

<script src="angular.js"></script>
<script src="main.js"></script>

</body>
</html>